babel~=2.18.0
CairoSVG~=2.9.0
django~=6.0.7
django-admin-rangefilter~=0.14.0
django-allauth[socialaccount]~=65.19
django-compressor~=4.6.0
django-debug-toolbar~=7.0.0
django-filter~=26.1
django-formtools~=2.7
django-more-admin-filters~=1.15
django-redis~=7.0.0
django-taggit~=6.1.0
djangorestframework~=3.17.1
fuzzywuzzy~=0.18.0
hypercorn[uvloop]~=0.18.0
markdown~=3.10.3
pillow~=12.3.0
psycopg[pool]~=3.3.4
python-Levenshtein~=0.27.3
pytz~=2026.3.post1
requests~=2.34.2
tblib~=3.2.2
tqdm~=4.70.0
