babel~=2.17.0
CairoSVG~=2.8.2
django~=6.0.1
django-admin-rangefilter~=0.13.2
django-compressor
django-debug-toolbar>=4.4.6
django-filter~=25.2
django-formtools~=2.5.1
django-more-admin-filters~=1.15
django-redis~=6.0.0
django-taggit~=6.1.0
djangorestframework~=3.16.1
fuzzywuzzy~=0.18.0
hypercorn[uvloop]~=0.18.0
markdown~=3.7
pillow~=12.1.0
psycopg[pool]~=3.3.2
python-Levenshtein
pytz~=2025.2
requests~=2.32.5
tblib~=3.2.2
tqdm~=4.67.1
