{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Page</title>
    <link rel="stylesheet" href="{% static 'aboutStyle.css' %}">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="navbar-left">
<!--                <img src="{% static 'LOGO_HEADER.png' %}" alt="Logo" style="height: 80px;">-->
                <h2>MIKO</h2>
            </div>
            <ul class="navbar-center">
                <li><a href="/">HOME</a></li>
                <li><a href="/kolomatematyczne">KOŁO MATEMATYCZNE</a></li>
                <li><a id="current" href="/about">O NAS</a></li>
                <li><a href="/bazahintow">BAZA ZADAŃ</a></li>
            </ul>
            <div class="navbar-right">
                <a href="/profile">PROFIL</a>
            </div>
        </nav>
    </header>

    <section id="description">
        <h2>Our Mission</h2>
        <h3>At MIKO, we are dedicated to fostering a love for mathematics and providing a supportive environment for students to explore and excel in this fascinating field. Our team of passionate educators and mathematicians work tirelessly to create engaging content, challenging problems, and innovative learning experiences that inspire the next generation of mathematical thinkers.</h3>
    </section>

    <section id="team">
        <h2>Meet Our Team</h2>
        <div class="team-tiles">

            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Maria Wiśniewska</h2>
                <h3 class="role">Administrator strony; Prowadzący zajęć matematycznych; Prowadzący zajęć koła olimpiady AI; Przewodniczący koła</h3>
                <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
                <h4 class="kontakt-tile">alermgm@gmail.com</h4>
            </div><div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Maria Wiśniewska</h2>
                <h3 class="role">Administrator strony; Prowadzący zajęć matematycznych; Prowadzący zajęć koła olimpiady AI; Przewodniczący koła</h3>
                <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
                </div><div class="team-member">
                    <div class="photo-placeholder"> </div>
                    <h2>Maria Wiśniewska</h2>
                    <h3 class="role">Administrator strony; Prowadzący zajęć matematycznych; Prowadzący zajęć koła olimpiady AI; Przewodniczący koła</h3>
                    <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
                </div><div class="team-member">
                    <div class="photo-placeholder"> </div>
                    <h2>Maria Wiśniewska</h2>
                    <h3 class="role">Administrator strony; Prowadzący zajęć matematycznych; Prowadzący zajęć koła olimpiady AI; Przewodniczący koła</h3>
                    <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
                </div><div class="team-member">
                    <div class="photo-placeholder"> </div>
                    <h2>Maria Wiśniewska</h2>
                    <h3 class="role">Administrator strony; Prowadzący zajęć matematycznych; Prowadzący zajęć koła olimpiady AI; Przewodniczący koła</h3>
                    <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
                </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Maria Wiśniewska</h2>
                <h3 class="role">Administrator strony;</h3>
                <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Maria Wiśniewska</h2>
                <h3 class="role">Administrator strony;</h3>
                <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Maria Wiśniewska</h2>
                <h3 class="role">Administrator strony;</h3>
                <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Maria Wiśniewska</h2>
                <h3 class="role">Administrator strony;</h3>
                <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"></div>
                <h2>Maria Wiśniewska</h2>
                <h3 class="role">Administrator strony;</h3>
                <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Maria Wiśniewska</h2>
                <h3 class="role">Administrator strony;</h3>
                <h3 class="description">Maria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts throaria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts throaria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts throaria creates engaging mathematical content for our online platforms. She has a knack for explaining difficult concepts through creative analogies and visual aids.</h3>
            </div>


        </div>
    </section>


{% include "footer.html" %}

</body>
</html>
