{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prolif</title>
    <link rel="stylesheet" href="{% static 'styleProfile.css' %}">
</head>
<body>
    {% include "header.html" %}

    <div class="container">
        <h1>Profil</h1>
        <form action="" method="post">
            {% csrf_token %}

            {% if user.profile_image %}
                <img src="{{ user.profile_image.url }}" alt="Profile Image">
            {% endif %}

            <div class="field">
                <label for="username">Nazwa użytkownika</label>
                <span id="username">{{ user.username }}</span>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <span id="email">{{ user.email }}</span>
            </div>
            <div class="field">
                <label for="first_name">Imię</label>
                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>
            </div>
            <div class="field">
                <label for="last_name">Nazwisko</label>
                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>
            </div>
            <div class="field">
                <label for="region">Województwo</label>
                    <select class="input" id="region" name="region" required>
                        <option value="" disabled {% if not user.region %}selected{% endif %}>Wybierz z listy</option>
                        {% for code, label in region_choices %}
                        <option value="{{ code }}" {% if user.region == code %}selected{% endif %}>
                            {{ label }}
                        </option>
                        {% endfor %}
                    </select>
            </div>
            <div class="field">
                <label for="date_of_birth">Data urodzenia</label>
                <input class="input" type="date" id="date_of_birth" name="date_of_birth"
                       value="{% if user.date_of_birth %}{{ user.date_of_birth|date:"Y-m-d" }}{% endif %}"
                       min="1900-01-01">
            </div>
            <div id="buttons">
                <a href="/signout/"><button type="button">Wyloguj</button></a> 
                <a href="/change_password/"><button type="button">Zmień hasło</button></a>
                <button type="submit">Zapisz</button>
            </div>
            
            <p style="color: red">{{ custom_message }}</p>
        </form>
    </div>
</body>
</html>
