{% load static %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="{% static 'accounts/styleSignup.css' %}">
</head>
<body>
    <div id="container">
        <h1>Rejestracja</h1>
        <div id="comment">Utwórz konto, aby korzystać z&nbsp;systemu MIKO!</div>
        <form id="registrationForm" method="POST" enctype="multipart/form-data" action="/signup/">
            {% csrf_token %}

            <div class="form-group">
                <input type="text" id="first_name" name="first_name" placeholder="Imię" required>
                <input type="text" id="last_name" name="last_name" placeholder="Nazwisko" required>
            </div>
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Nazwa użytkownika" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Hasło" required>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Powtórz hasło" required>
            </div>
            <div class="password-help">
                <ul>
                {% for txt in pwd_help_texts %}
                    <li>{{ txt }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="form-group">
                <select id="region" name="region" required>
                    <option value="" disabled selected>Województwo</option>
                    {% for code, label in region_choices %}
                        <option value="{{ code }}">{{ label }}</option>
                    {% endfor %}
                </select>
                <input class="input" type="date" id="date_of_birth" name="date_of_birth" required
                       min="1900-01-01">
            </div>
            
            <button type="submit">Wyślij</button>
        </form>
        <br>
        <p>Masz już konto? <a href="../signin/">Zaloguj się!</a></p>

        <p style="color: red">{{ custom_message }}</p>
    </div>

    <script>
        document.getElementById('registrationForm').addEventListener('submit', function (event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            if (password !== confirmPassword) {
                event.preventDefault();
                alert('Hasła się nie zgadzają!');
            }
        });
        s
    </script>
</body>

</html>